.logo {
    width: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
}

body {
    font-family: sans-serif;
}
.navbar-toggler-icon {
    
    border-radius: 20%;
}

h2 {
    padding: 3rem;
    color: black;
}

.riga {
    padding: 4rem;
    width: 100%;
}
